<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/book.png">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Book Shelf</title>
</head>
<body>
<header>
    <h1 >Welcome to my Book Shelf</h1>
    <!-- Small navbar to select the order of sorting the books -->
    <nav>
        <form action="/sort" method="post">
            <label for="sort">Sort by</label>
            <select name="sort" id="sort">
                <option value="id">Recently added</option>
                <option value="updated_time">Last Updated</option>
                <option value="name">Book Title</option>
                <option value="rating">Rating</option>
            </select>
            <button type="submit">GO</button>
        </form>
    </nav>
</header>
<main>
    <div class="container">
        <!-- An anchor to add new book -->
        <div class="new">
            <a href="/new">Add new book</a>
        </div>
        <article>
            <!-- Displaying all books -->
        <% books.forEach((book) => { %>
            <section id="book<%= book.id %>">
                    <img src="https://covers.openlibrary.org/b/isbn/<%=book.isbn%>-L.jpg" alt="<%=book.name%>-cover">
                <div class="book-details"> 
                    <h2><%= book.name %></h2>
                    <h3>By <%= book.author %></h3>
                    <h4>Rating: ⭐<%=book.rating%> / 5 </h4>
                    <p>ISBN: <%= book.isbn %></p>
                    <p>Last Updated: <%= book.updated_time.toLocaleDateString() %></p>
                </div>
                <div class="btn">
                    <!-- Delete and Edit buttons -->
                    <a class="edit-btn" href="/edit/<%= book.id %>">Edit</a>
                    <a class="delete-btn" href="/delete/<%= book.id %>">Delete</a>
                </div> 
                <!-- Book notes and a link to view full details -->
                <p class="book-note"><%= book.note.substring(0, 200) %>... <a href="/book/<%= book.id%>">Read more</a></p>
            </section>
        <%  }) %>
        </article>
    </div>
</main>
</body>
<footer>
    Copyright © <%= new Date().getFullYear() %> Kamalesh TVT
</footer>
</html>